.modalDialog {
  position: absolute;
  top: 100px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

/* .modalDialog--left {
  
} */

.modalDialog--right {
 transform: translateX(-100%);
}

@keyframes modal-slide-left-to-right {
  0% {
    left: -500px;
  }
  100% {
    left: 300px;
  }
}
