.modalDialog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  animation: modal-slide-left-to-right 500ms ease-in forwards;
}

@keyframes modal-slide-left-to-right {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}
