.panelModal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.panelModal--left {
  left: 0;
}

.panelModal--right {
 right: 0;
}

@keyframes modal-slide-left-to-right {
  0% {
    left: -500px;
  }
  100% {
    left: 300px;
  }
}
