.readerSidePanel {
    height: 700px;
    width: 350px;
    background-color: var(--deep-background-color);
    border-radius: 20px;
    z-index: 10;
    border: 1px solid var(--border-color);
    overflow: clip;
}