:root {
  --primary-color: #ffffff;
  --accent-color: #FDD60C;

  /* backgrounds */
  --deeper-background-color: #000000;
  --deep-background-color: #121212;
  --shallow-background-color: #1E1E1E;
  --mid-background-color: #323233;

  /* fonts */
  --primary-font-color: #ffffff;
  --reder-font-colot: #E3E3E3;

  --font-size-h2: 18px;

  /* icons */
  --icon-inactive-color: #B2B2B2;

  --border-color: #000000;
}
