.selectionCorner {
  position: sticky;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  width: 50px;
  background-color: var(--deep-background-color);
  border: 1px solid black;
}

.selectionCorner--right {
  animation: selection-corner-right-to-left 300ms ease-in forwards;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -10px 10px 6px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -10px 10px 6px -10px rgba(0, 0, 0, 0.6);
  box-shadow: -10px 10px 6px -10px rgba(0, 0, 0, 0.6);
}

.selectionCorner--left {
  animation: selection-corner-left-to-right 300ms ease-in forwards;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 10px 10px 6px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 6px -10px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 6px -10px rgba(0, 0, 0, 0.6);  
}

.selectionCorner--panelOpen {
  position: static;
  animation: none;
  translate: 0 0;
}

@keyframes selection-corner-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform:  translateX(0)
  }
}

@keyframes selection-corner-right-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform:  translateX(0)
  }
}
