.bookInfoPanel {
    display: grid;
    grid-template-rows: minmax(0, 2fr) 5fr;
    grid-template-columns: 1fr;
    height: 100%;
}

.bookInfoPanel__contentContainer {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    row-gap: 15px;
    padding: 15px 15px 10px;
    overflow-y: hidden;
}

.bookInfoPanel__bookTile {
    justify-self: center;
    font-size: 24px;
}

