.contentBox {
    background-color: var(--mid-background-color);
    border-radius: 10px;
    padding: 10px 15px;
    overflow-y: auto;
    text-align: justify;
    max-height: 100%;
}

.contentBox-fitContent {
    height: fit-content;
}